* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #353a39;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.paymet-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 10px;
    max-width: 400px;
}
h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: aqua;
}
.form-group {
    margin-bottom: 1.5rem;
}
label {
    display: block;
    margin-bottom: 1.5rem;
    color: #ffefef;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #f7efef;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}